#root{
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: stretch;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  border-radius: 1em;
  background: linear-gradient(#202082,60%,#0f0f38,94%,#010015);

}

#root.Maximize, #root:fullscreen{
  border-radius: 0;
}


.Toolbar{
  -webkit-app-region: drag;
  height: 1.8em !important;
  font-family: 'Times New Roman', Times, serif;
  font-size: .75em;
  font-weight: bold;
  color:#bdbdbd;
  padding: 0.3em 0 0.3em 1.4em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background:rgb(10, 10, 10);
}

.App {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: stretch;
  /* height: 100vh;
  width: 100vw; */
  flex: 1;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Tracker{
  flex:1;
  position: relative;
}

.FineVideo{
  filter: brightness(0.7) contrast(1.82) saturate(1);
  transform-box: border-box;
  transform: rotateY(180deg);
}

.FineVideo.NoColor{
  filter: brightness(0.7) contrast(1.82) saturate(0)
}

.FineVideo.Gray{
  filter: brightness(0.7) contrast(1.82) grayscale(1)
}

.FineVideo ~ canvas{
  transform-box: border-box;
  transform: rotateY(180deg);
}