.App {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: stretch;
  height: 100vh;
  width: 100vw;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#root{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: stretch;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: linear-gradient(#000023,93%,#2f2fbd);
}

.Tracker{
  flex:1;
  position: relative;
}

.FineVideo{
  filter: brightness(1.5) contrast(1.82) saturate(1);
  transform-box: border-box;
  transform: rotateY(180deg);
}

.FineVideo.NoColor{
  filter: brightness(1.5) contrast(1.82) saturate(0)
}

.FineVideo.Gray{
  filter: brightness(1.5) contrast(1.82) grayscale(1)
}

.FineVideo ~ canvas{
  transform-box: border-box;
  transform: rotateY(180deg);
}